.contact-grid {
  grid-template-columns: 140px 150px 200px 110px 140px 90px 80px;

  @screen sm {
    grid-template-columns: 140px 150px 200px 110px 140px 90px 80px;
  }

  @screen md {
    grid-template-columns: 140px 150px 200px 110px 140px 90px 80px;
  }

  @screen lg {
    grid-template-columns: 140px 150px 200px 110px auto 90px 80px;
  }
}

::ng-deep .contact-message-dialog .mat-mdc-dialog-surface {
  padding: 0 !important;
  border-radius: 16px !important;
  overflow: hidden;
}

::ng-deep .contact-message-dialog .mat-mdc-dialog-content {
  padding: 0 !important;
  max-height: 60vh;
}

::ng-deep .contact-message-dialog .mat-mdc-dialog-actions {
  padding: 16px !important;
}
