<div
  class="flex flex-col w-full h-full min-h-full flex-auto bg-white dark:bg-gray-900"
>
  @if (isLoading) {
    <!-- SKELETON LOADER FOR USER DETAILS -->
    <div class="p-6 space-y-6 animate-pulse w-full max-w-3xl mx-auto">
      <div class="h-10 bg-gray-200 dark:bg-gray-700 rounded w-1/3"></div>
      <div class="grid grid-cols-2 gap-4">
        <div class="h-12 bg-gray-200 dark:bg-gray-700 rounded"></div>
        <div class="h-12 bg-gray-200 dark:bg-gray-700 rounded"></div>
      </div>
      <div class="grid grid-cols-2 gap-4">
        <div class="h-12 bg-gray-200 dark:bg-gray-700 rounded"></div>
        <div class="h-12 bg-gray-200 dark:bg-gray-700 rounded"></div>
      </div>
      <div class="h-24 bg-gray-200 dark:bg-gray-700 rounded w-full"></div>
    </div>
  } @else if (!editMode) {
    <!-- Header -->
    <div
      class="flex items-center justify-between w-full px-6 py-4 border-b border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-900"
    >
      <h2 class="text-lg font-semibold text-gray-800 dark:text-gray-100">
        {{
          seller?.first_name
            ? seller.first_name + " " + (seller?.last_name || "")
            : "User Details"
        }}
      </h2>
      <button
        type="button"
        mat-icon-button
        [matTooltip]="'Close'"
        (click)="onClose()"
      >
        <mat-icon
          class="text-gray-500 hover:text-gray-700 dark:text-gray-400"
          [svgIcon]="'heroicons_outline:x'"
        ></mat-icon>
      </button>
    </div>

    <!-- seller -->
    <div
      class="relative flex flex-col flex-auto items-center p-4 pt-0 sm:p-8 sm:pt-0"
    >
      <div class="w-full max-w-3xl">
        <!-- Avatar and actions -->
        <div class="flex flex-auto items-end mt-2">
          <!-- Avatar -->
          <!-- 
          <div
            class="flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card"
          >
            @if (seller.avatar) {
              <img
                class="object-cover w-full h-full"
                [src]="imgPath + seller.avatar"
              />
            } @else {
              <img
                class="object-cover w-full h-full"
                [src]="transformAvatarUrl(seller.profileImgUrl)"
                alt="Seller avatar"
              />
            }
          </div>
          -->
          <!-- Actions -->
          <div class="flex items-center ml-auto mb-1">
            <button
              type="button"
              mat-stroked-button
              (click)="toggleEditMode(true)"
            >
              <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:pencil-alt'"
              ></mat-icon>
              <span class="ml-2">Edit</span>
            </button>
          </div>
        </div>

        <!-- Name -->
        <div class="mt-3 text-4xl font-bold truncate">
          {{ seller.first_name + " " + seller.last_name }}
        </div>
        <div class="flex flex-col mt-4 pt-6 border-t space-y-8">
          <!-- Emails -->
          @if (seller.email) {
            <div class="flex">
              <mat-icon [svgIcon]="'heroicons_outline:mail'"></mat-icon>
              <div class="min-w-0 ml-6 space-y-1">
                <div class="flex items-center leading-6">
                  <a
                    class="hover:underline text-primary-500"
                    [href]="'mailto:' + seller.email"
                    target="_blank"
                  >
                    {{ seller.email }}
                  </a>
                </div>
              </div>
            </div>
          }

          <!-- Address -->
          @if (seller.business_address) {
            <div class="flex sm:items-center">
              <mat-icon
                [svgIcon]="'heroicons_outline:location-marker'"
              ></mat-icon>
              <div class="ml-6 leading-6">{{ seller.business_address }}</div>
            </div>
          }
          <!-- contact_no -->
          @if (seller.contact_no) {
            <div class="flex sm:items-center">
              <mat-icon [svgIcon]="'heroicons_outline:phone'"></mat-icon>
              <div class="ml-6 leading-6">{{ seller.contact_no }}</div>
            </div>
          }
        </div>
      </div>
    </div>
  } @else {
    <!-- Header -->
    <div
      class="flex items-center justify-between w-full px-6 py-4 border-b border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-900"
    >
      <h2 class="text-lg font-semibold text-gray-800 dark:text-gray-100">
        {{ isAdd ? "Add User" : editMode ? "Edit User" : "User Details" }}
      </h2>
      <button
        type="button"
        mat-icon-button
        [matTooltip]="'Close'"
        (click)="onClose()"
      >
        <mat-icon
          class="text-gray-500 hover:text-gray-700 dark:text-gray-400"
          [svgIcon]="'heroicons_outline:x'"
        ></mat-icon>
      </button>
    </div>

    <!-- seller form -->
    <div
      class="relative flex flex-col flex-auto items-center px-6 sm:px-12 pt-4"
    >
      <div class="w-full max-w-3xl">
        <form [formGroup]="sellerForm" class="space-y-4">
          <!-- Avatar -->
          <!-- 
          @if (!isAdd) {
            <div class="flex flex-auto items-end -mt-16">
              <div
                class="relative flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card"
              >
                <div class="absolute inset-0 bg-black bg-opacity-50 z-10"></div>
                @if (seller.avatar) {
                  <img
                    class="object-cover w-full h-full"
                    [src]="seller.avatar | mediaUrl:''"
                  />
                } @else {
                  <img
                    class="object-cover w-full h-full"
                    [src]="seller.profileImgUrl"
                    alt="Seller avatar"
                  />
                }
              </div>
            </div>
          }
          -->

          <!-- Name -->
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <mat-form-field class="fuse-mat-no-subscript w-full">
              <mat-label>First Name</mat-label>
              <mat-icon
                matPrefix
                class="hidden sm:flex icon-size-5"
                [svgIcon]="'heroicons_solid:user-circle'"
              ></mat-icon>
              <input
                matInput
                [formControlName]="'first_name'"
                maxlength="20"
                [placeholder]="'First Name'"
                [spellcheck]="false"
              />
              @if (sellerForm.get("first_name").hasError("required")) {
                <mat-error>First Name is required!</mat-error>
              }
              @if (sellerForm.get("first_name").hasError("maxlength")) {
                <mat-error>First Name cannot exceed 30 characters!</mat-error>
              }
            </mat-form-field>

            <mat-form-field class="fuse-mat-no-subscript w-full">
              <mat-label>Last Name</mat-label>
              <mat-icon
                matPrefix
                class="hidden sm:flex icon-size-5"
                [svgIcon]="'heroicons_solid:user-circle'"
              ></mat-icon>
              <input
                matInput
                [formControlName]="'last_name'"
                maxlength="20"
                [placeholder]="'Last Name'"
                [spellcheck]="false"
              />
              @if (sellerForm.get("last_name").hasError("required")) {
                <mat-error>Last Name is required!</mat-error>
              }
              @if (sellerForm.get("last_name").hasError("maxlength")) {
                <mat-error>Last Name cannot exceed 20 characters!</mat-error>
              }
            </mat-form-field>
          </div>

          <!-- Email & Contact -->
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <mat-form-field class="fuse-mat-no-subscript w-full">
              <mat-label>Email</mat-label>
              <mat-icon
                matPrefix
                class="hidden sm:flex icon-size-5"
                [svgIcon]="'heroicons_solid:mail'"
              ></mat-icon>
              <input
                matInput
                [formControlName]="'email'"
                maxlength="30"
                [placeholder]="'Email address'"
                [spellcheck]="false"
              />
              @if (sellerForm.get("email").hasError("required")) {
                <mat-error> Email is Required! </mat-error>
              }
              @if (sellerForm.get("email").hasError("email")) {
                <mat-error> Invalid Email Format! </mat-error>
              }
            </mat-form-field>

            <!-- Phone numbers -->
            <mat-form-field class="fuse-mat-no-subscript w-full">
              <mat-label>Contact No</mat-label>
              <mat-icon
                matPrefix
                class="hidden sm:flex icon-size-5"
                [svgIcon]="'heroicons_outline:phone'"
              ></mat-icon>
              <input
                matInput
                type="text"
                maxlength="10"
                [formControlName]="'contact_no'"
                [placeholder]="'Contact No'"
              />
              @if (sellerForm.get("contact_no").hasError("required")) {
                <mat-error> Please enter a contact number </mat-error>
              }
              @if (sellerForm.get("contact_no").hasError("pattern")) {
                <mat-error>
                  Please enter a valid 10 digit contact number
                </mat-error>
              }
            </mat-form-field>
          </div>

          <!-- Address -->
          <div>
            <mat-form-field class="fuse-mat-no-subscript w-full">
              <mat-label>Address</mat-label>
              <mat-icon
                matPrefix
                class="hidden sm:flex icon-size-5"
                [svgIcon]="'heroicons_solid:location-marker'"
              ></mat-icon>
              <textarea
                matInput
                [formControlName]="'business_address'"
                [placeholder]="'Address'"
              ></textarea>
            </mat-form-field>
          </div>

          <!-- Role -->
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <mat-form-field class="fuse-mat-no-subscript w-full">
              <mat-label>Role</mat-label>
              <mat-icon
                matPrefix
                class="hidden sm:flex icon-size-5"
                [svgIcon]="'heroicons_solid:shield-check'"
              ></mat-icon>
              <mat-select
                [formControlName]="'role'"
                [placeholder]="'Select role'"
                [spellcheck]="false"
                [compareWith]="compareFn"
                (openedChange)="triggerRoleEvent()"
              >
                <mat-option>
                  <ngx-mat-select-search
                    [formControl]="roleFilterCtrl"
                    [preventHomeEndKeyPropagation]="true"
                    placeholderLabel="Search role"
                    (keyup)="filterRoles($event.target.value)"
                    noEntriesFoundLabel="'No role found'"
                  >
                  </ngx-mat-select-search>
                </mat-option>
                @if (filteredRolesList && filteredRolesList.length) {
                  @for (role of filteredRolesList; track role) {
                    <mat-option [value]="role?.id || role?._id">{{
                      role?.role_name || ""
                    }}</mat-option>
                  }
                }
              </mat-select>
              @if (sellerForm.get("role").hasError("required")) {
                <mat-error> Role is Required! </mat-error>
              }
            </mat-form-field>
          </div>

          <!-- Actions -->
          <div
            class="flex items-center justify-end gap-3 mt-10 -mx-6 sm:-mx-12 py-4 px-6 sm:px-12 border-t bg-gray-50 dark:bg-transparent"
          >
            <!-- Cancel -->
            @if (!isAdd) {
              <button
                type="button"
                class="btn-cancel"
                [matTooltip]="'Cancel'"
                (click)="toggleEditMode(false)"
              >
                Cancel
              </button>
            } @else {
              <button
                type="button"
                class="btn-cancel"
                [matTooltip]="'Cancel'"
                (click)="onClose()"
              >
                Cancel
              </button>
            }
            <!-- Save -->
            @if (!isAdd) {
              <button
                type="button"
                class="btn-primary"
                [disabled]="sellerForm.invalid || btnDisable"
                (click)="addUpdateSelectedUser(seller._id)"
              >
                <span class="inline-flex items-center">
                  <span>{{ btnDisable ? "Updating..." : "Update" }}</span>
                  <mat-icon
                    class="ml-1.5 icon-size-5"
                    [svgIcon]="'heroicons_solid:arrow-sm-right'"
                  ></mat-icon>
                </span>
              </button>
            }
            @if (isAdd) {
              <button
                type="button"
                class="btn-primary"
                [disabled]="sellerForm.invalid || btnDisable"
                (click)="addUpdateSelectedUser('')"
              >
                <span class="inline-flex items-center">
                  <span>{{ btnDisable ? "Adding..." : "Add" }}</span>
                  <mat-icon
                    class="ml-1.5 icon-size-5"
                    [svgIcon]="'heroicons_solid:arrow-sm-right'"
                  ></mat-icon>
                </span>
              </button>
            }
          </div>
        </form>
      </div>
    </div>
  }
</div>
