.sidebar-sub-item {
  font-size: 12px;
  line-height: 1.35;
  transition: all 0.15s ease-in-out;

  &.is-selected {
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 1.25 !important;
  }
}
